

body, html {
  position: relative;
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
}

.headingInApp{
  display: none !important;
  background-color: aqua;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  width: 100%;
}


/* Post card responsiveness */
.post-card {
  margin: 5%;
  margin-top: 2%;
  width: 80%;
  max-width: 90%;
}

div.post-list{
  display: flex  ;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;

}
/* Hashtags */
.hashTag {
  margin: 5px;
}

/* Create post form */
.create-post {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

/* Footer */
footer.py-3.my-4 {
  padding-top: 0% !important;
  margin-top: 0% !important;
  width: 100%;
  z-index: 100;
}

.footer-content {
  margin-top: 0;
  z-index: 1;
}

/* Empty message */
.emptyMeassage {
  min-height: 70%;
  text-align: center;
  margin: 17% auto;
}

/* Post container */
.post-container {
  margin-bottom: 100px;
  max-height: calc(100vh - 30vh);
  overflow-y: auto;
  justify-items: center;
  margin-bottom: 0px;

}
.post-container::-webkit-scrollbar {
  display: none;
}

/* Spinner */
.spinner {
  margin: 16% auto;
  width: 7rem;
  height: 7rem;
}

/* Logo */
.logo {
  height: 50px;
  width: 50px;
  margin-left: -50px;
}


@media screen and (min-width:540px) and (max-width:992px){
  a.headingDp{
    display: none !important;
  }

  form.col-12{
    width :max-content;
  }

  ul.nav.col-12{
    display: flex;
    gap: 1rem;
    
  }

  header.heading{
    padding-bottom: 0px !important;
  }
}

@media screen and (max-width:540px) {

  .sidebar{
    display: none !important;
  }

  .headingInApp{
    display: flex !important;
    background-color: rgb(33, 37, 41);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
  }

  header.border-bottom{
    padding: 0% !important;
    padding-bottom: 0% !important;
  }
  a.headingDp{
    display: none !important;
  }
  form.col-12{
    width :max-content;
  }
  
}
