body, html{
  position: fixed;
  height: 100%;
  width: 100%;
}
.app-container{
  display: flex;
  
 
}

.content{
  width: 100%;

}

.sidebar{
  height: 100vh;
}

.post-card{
  margin: 20px;
  width: 900px;
}

.hashTag{
  margin: 5px;
}

.create-post{
  width: 80%;
  margin-top: 20px;
  margin-left: 80px;
}

.footer{
  
 
  left: 284px;
  width: calc(100% - 284px);
  z-index: 900; /* Lower than header */

  
}
.footer-content{
  margin-top: 0%;
  z-index: 1;
}


.emptyMeassage{
  min-height: 70%;
  text-align: center;
  margin-top: 17%;
  margin-bottom: 17%;
}

.post-container {
 margin-bottom: 100px;
  height: calc(100vh - 33vh); /* Adjust based on header height */
  overflow-y: auto; /* Enable vertical scrolling */
}
.post-container::-webkit-scrollbar {
  display: none;
}

.spinner{
  margin: 16% ;
  margin-left: 45%;
  width: 7rem;
  height: 7rem;
}

.logo{
  position: relative;
  display: inline;
  height: 50px;
  width: 50px;
  margin-left: -50px;
  left: 0;
  margin-right: 25px;
}


@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}